<!-- not my code starts here -->
<!DOCTYPE html>


<html>

<head>
    <title>Exoplanet Explorer</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 20px;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
    
        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
    
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>

<body>

    <!-- my code starts here -->
    <nav>
        <a href="./">Home (All Exoplanets)</a> |
        <a href="./analyze">Earth-Like Exoplanets</a> |
        <a href="./locate">Exoplanet Location</a> |
        <a href="./discover">Discoveries</a> 
    </nav>
    <!-- my code ends here -->
    <h1>
        <%= title %>
    </h1>
    <form action="./" method="GET">
        <input type="text" name="planet_name" placeholder="Search by Planet Name"
            value="<%= typeof planet_name !== 'undefined' ? planet_name : '' %>">
        <input type="number" name="min_mass" placeholder="Min Earth Mass"
            value="<%= typeof min_mass !== 'undefined' ? min_mass : '' %>">
            
            <!-- my code starts here-->

        <input type="number" name="min_planet_radius_earth_radius" placeholder="Min Radius"
                value="<%= typeof min_planet_radius_earth_radius !== 'undefined' ? min_planet_radius_earth_radius : '' %>">
        <input type="number" name="min_equilibrium_temperature_k" placeholder="Min Equilibrium Temperature"
            value="<%= typeof min_equilibrium_temperature_k !== 'undefined' ? min_equilibrium_temperature_k : '' %>">
          
            <!-- my code ends -->

                <button type="submit">Filter</button>
        <a href="./">Reset</a>
    </form>
    
    <script>
        // This dynamically sets the form action to the current URL
        document.getElementById('filterForm').action = window.location.pathname;
    </script>
    <br>
    <table border="1">
        <tr>
            <% Object.keys(data[0] || {}).forEach(key=> { %>
                <th>
                    <%= key.replace(/_/g, ' ' ) %>
                </th>
                <% }); %>
        </tr>
        <% data.forEach(row=> { %>
            <tr>
                <% Object.values(row).forEach(val=> { %>
                    <td>
                        <%= val %>
                    </td>
                    <% }); %>
            </tr>
            <% }); %>
    </table>
    <br>
    <a href="./">Back to Home</a>

</body>

</html>
<!-- not my code starts here -->